body {
  font-family: 'Inter', sans-serif;
}


@media screen and (min-width: 768px){
      body{
            zoom: .9;
      }
}      

 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ............. navbar............... */

navbar {
  background-color: white;
   scroll-behavior: smooth;
}

.nav-link {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.nav-link:hover {
  color: white;
  background-color: black;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 900;
}

/* ................... main ............ */
.main{
  padding-top: 0%;
padding-bottom: 1rem;
}

.main h3 {
  font-size: 3rem;
  font-family: serif;
}
.main p {
  padding-top: 2rem;
  font-size: 2rem;
}

.main img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  margin-top: 15%;
  border: 5px solid rgb(248, 241, 57);
  box-shadow: 8px 5px 26px 3px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 8px 5px 26px 3px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 8px 5px 26px 3px rgba(0, 0, 0, 0.59);
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 5%;
}

.button {
  /* display: inline-flex; */
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: large;
  padding: .75rem;
  border-radius: 0.5rem;
  /* margin-left: 50%; */
  /* border: 2px solid var(white); */
}
.icon{
  margin-bottom: 7%;
}
.icon a{
  color: rgb(245, 187, 112);
margin-left: 15%; 
  display: inline-block;


}
.main a:hover{
  color: #000;
  animation: moveX 0.5s ease-in-out infinite alternate;

}
@keyframes moveX {
  from { transform: translateX(0); }
  to   { transform: translateX(6px); }
}


/*.......................... ABOUT ME ..................*/
.about{
  padding: 0%;
}

.about img {
  width: 450px;
  height: 450px;
  margin-top: 10%;
  margin-bottom: 10%;
  border: none;
  border-radius: 50%;
  box-shadow: 8px 5px 26px 3px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 8px 5px 26px 3px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 8px 5px 26px 3px rgba(0, 0, 0, 0.59);
}
.about h2 {
  font-family: serif;
  padding-top: 10%;
  margin-bottom: 5%;
 
}
.about p {
  font-family: serif;
  /* padding-top: 20%;
  padding-bottom: 5%; */
}

.progress {
  background-color: rgb(245, 244, 244);
  justify-content: flex-start;
  border-radius: 50px;
  align-items: center;
  position: relative;
  display: flex;
  height: 30px;
  width: 100%;
  margin: 0%;
}

.pro-value1 {
  animation: load1 5s ease forwards;
  animation-delay: 2s;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  height: 30px;
  width: 0;
}

.progress p {
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 0.85rem;
}
.progress span{
margin-left: 1rem;
}
@keyframes load1 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

.pro-value2 {
  animation: load2 5s ease forwards;
  animation-delay: 4s;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  height: 30px;
  width: 0;
}
.pro-value3 {
  animation: load3 5s ease forwards;
  animation-delay: 6s;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  height: 30px;
  width: 0;
}
.pro-value4 {
  animation: load4 5s ease forwards;
  animation-delay: 8s;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  height: 30px;
  width: 0;
}

@keyframes load2  {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes load3  {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}

@keyframes load4 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

/* ............project................ */
.project {
  padding-top: 2%;
  padding-bottom: 5%;
  
}
.project-title {
  text-align: center;
  padding: 1rem;
  font-family: serif;
  margin-bottom: 1rem;
}

.pro-row {
  row-gap: 2rem;
}

.project-card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid rgb(64, 64, 59);
}

.project-data {
  display: grid;
  place-content: center;
  row-gap: 0.5rem;
  text-align: center;
  padding: 0 1rem;
  border-radius: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
}
.project-card button {
  padding: 0rem;
}

.project-card:hover .project-data {
  opacity: 1;
  pointer-events: initial;
}
.project-card img {
  width: 420px;
  height: 250px;
}
/* ............my resume............... */

.res-tittle {
  text-align: center;
  padding: 1rem;
  font-family: cursive;
}
.resume{
  padding: 0%;
  padding-bottom: 5%;
}

/* ................... resume .................... */

.resume h2 {
  font-family: serif;
  margin-top: 2rem;
}
.resume-title img {
  width: 40px;
  height: 40px;
}
.resume-title {
  color: rgb(34, 15, 162);
  font-style: oblique;
  margin-bottom: 1%;
}

.experiense {
  font-size: x-large;
  font-family: cursive;
  margin-left: 10%;
}
.experiense address {
  margin-bottom: 0%;
}
.experiense h5 {
  margin-bottom: 0%;
}
.resume-title svg {
  margin-right: 8px;
  margin-left: 20px;
}
.resume h4 {
  margin-left: 40%;
  font-family: serif;
  margin-bottom: 0%;
}
/* .........CONTACT............ */
.contact{
  padding: 0%;
}
.contact h3 {
  text-align: center;
  font-family: serif;
  margin-top: 2rem;
  margin-right: 60%;
  margin-bottom: 2rem;
}

.contact form {
  margin-left: 10%;
  margin-bottom: ;
  font-size: x-large;
}
.contact-input {
  margin: 0.3rem;
  background-color: rgb(227, 238, 238);
  border-radius: 0.5rem;
  width: 300px;
  height: 50px;
  font-size: large;
  font-family: serif;
  font-weight: bold;
  font-style: italic;
  border: 2px solid rgb(64, 64, 59);
  outline: none;
}
.contact-input::placeholder {
  transition: 1s;
}
.contact-input:focus::placeholder {
  color: #000;
}
.contact-textarea {
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  background-color: rgb(227, 238, 238);
  border-radius: 0.5rem;
  border: 2px solid rgb(64, 64, 59);
  width: 300px;
  height: 100px;
  font-size: large;
  font-family: serif;
  unicode-bidi: isolate;
  font-style: italic;
  font-weight: bold;
}

.contact-textarea::placeholder {
  transition: 1s;
}
.contact-textarea:focus::placeholder {
  color: #000;
  font-size: large;
}
.contact button {
  margin-top: 2rem;
  margin-left: 5rem;
  font-size: medium;
  font-family: serif;
  background-color: ;
  cursor: pointer;
}
.contact-mee svg {
  color: rgb(0, 0, 0);
  margin: 10px;
}
.contact-mee{
  padding: 10px;
  font-size: large;
  padding-left: 15%;
  padding-top: 5%;
display: inline-block;

}
.contact-mee svg:hover{
  animation: moveX 0.5s ease-in-out infinite alternate;
  color: #fff200;

}
.contact-mee span{
font-size: large;
font-family:serif;
}
@keyframes moveX {
  from { transform: translateX(5px); }
  to   { transform: translateX(10px); }
}







/* .contact--mesage{
  margin: 1rem;
  font-family:monospace;
  font-size: 1rem;
  align-items: center;
} */
/* ..................... line ............... */
section {
  position: relative;
  padding: 80px 0;
}

section:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 1px;
  background-color: #000000;
}
